html {
    box-sizing: border-box;
}

body {
    background: rgb(101, 148, 218);
}

h3 {
    color: rgb(255, 245, 111);
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

img {
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.weatherInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-style: solid;
    border-radius: 25px;
    border-color: rgb(218, 210, 97);
    width: 80ch;
    margin: 20px;
}

.weatherDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}